<form novalidate #form="ngForm" >
    <input type="hidden" name="StudentId"
    [value]="service.formData.studentId "/>
    
    
    <button routerLink="/login" class="btn btn-danger mx-2">çıkış</button>
    
        <div class="row">
            <div class="col-md-4 mt-5">
                <div class="card border-0 shadow p-3">
                    <div class="form-floating mb-3 tetx-center">
                        <h5 class="text-center text-warning">Öğrenci Ekle</h5>
                    </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="isim" name="isim" [(ngModel)]="service.formData.isim">
                            <label for="firstname">İsim</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="soyad"name ="soyad" [(ngModel)]="service.formData.soyad">
                            <label for="soyisim"> Soyisim</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="şehir" class="form-control" id="sehır" name="sehır "[(ngModel)]="service.formData.sehır">
                            <label for="şehir">şehir</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="ılce" name="ılce" [(ngModel)]="service.formData.ılce">
                            <label for="ilce">İlçe</label>
                            
                        </div>
                       
                </div>
                <div class="form-group">
                    <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">KAYDET</button>
                </div>
            </div>
            <div class="col-md-8 mt-2">
                <h5 class="text-danger"> Öğrenci Listesi</h5>
                <div class="card p-3 shadow">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">ad</th>
                                <th scope="col">soyad</th>
                                <th scope="col">sehir</th>
                                <th scope="col">ılce</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pd of service.list">
                                    <td (click)="populateForm(pd)">{{pd.isim}}</td>
                                    <td (click)="populateForm(pd)">{{pd.soyad}</td>
                                    <td (click)="populateForm(pd)">{{pd.sehir}}</td>
                                    <td (click)="populateForm(pd)">{{pd.ilce}}</td>
                                    <td>
                                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.StudentId)"></i>
                                    </td>
                                </tr>
                            </tbody>